@charset "UTF-8";
header address {
  font-size: 0.75rem;
  font-family: Arial, sans-serif;
}
header address i {
  color: #67b8e8;
  font-size: 0.7rem;
}
header address a, header address a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
header .social a {
  background-color: #4a4a4a;
  width: 1.6rem;
  height: 1.6rem;
  text-decoration: none;
}
header .social a:hover {
  background-color: #efc478;
  transform: scale(1.3);
}
header .social i {
  color: white;
}
header .nav {
  background-color: #67b8e8;
  box-shadow: 0 2px 7px -2px #6F6F6F;
}
header .navbar {
  background-color: transparent;
}
header .navbar .btn {
  background-color: #fff;
  text-transform: uppercase;
  color: #67b8e8;
  font: 1rem "Raleway", sans-serif;
  font-weight: bold;
  width: 12.3rem;
}
header .navbar .btn:hover {
  color: #67b8e8;
}
header .navbar .btn.focus, header .navbar .btn:focus {
  box-shadow: none;
}
header .navbar-light .navbar-brand {
  font: 1.5rem "Pacifico", cursive;
  color: white;
}
header .navbar-light .navbar-brand:focus, header .navbar-light .navbar-brand:hover {
  color: white;
  outline: none;
}
header .navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  color: white;
  font: 1rem "Raleway", sans-serif;
  font-weight: bold;
}
header .navbar-light .navbar-nav .nav-link:focus, header .navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
header .navbar-light .navbar-toggler-icon {
  background-image: url(../images/menu.png);
}
header button:focus {
  outline: none;
}
header .menu {
  margin: 0;
}
header .menu--francisco .menu__item {
  margin: 0;
}
header .menu--francisco .menu__link {
  position: relative;
  overflow: hidden;
  height: 3em;
  padding: 1em 0;
  color: #b5b5b5;
  text-align: right;
  transition: color 0.3s;
}
header .menu--francisco .menu__link:hover, header .menu--francisco .menu__link:focus {
  color: #929292;
}
header .menu--francisco .menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  width: 30%;
  height: 2px;
  opacity: 0;
  background: #ffffff;
  transform: translate3d(0, -3em, 0);
  transition: transform 0s 0.3s, opacity 0.2s;
}
@media screen and (min-width: 1024px) {
  header .menu--francisco .menu__link:before {
    width: 100%;
  }
}
header .menu--francisco .menu__item--current .menu__link {
  color: #ffffff;
}
header .menu--francisco .menu__item--current .menu__link:before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s, opacity 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
header .menu--francisco .menu__item--current .menu__helper {
  animation: anim-francisco 0.3s forwards;
}
header .menu--francisco .menu__helper {
  display: block;
  pointer-events: none;
}
header .contact a {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
}
header .contact a:hover {
  text-decoration: none;
  color: #67b8e8;
}
header h1 {
  font: 2rem "Raleway", sans-serif;
  color: #67b8e8;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 3rem;
  }
}
header h1 span {
  font-weight: bold;
}
header .contact_us, header .btn-outline-primary:not(:disabled):not(.disabled).active, header .btn-outline-primary:not(:disabled):not(.disabled):active,
header .show > .btn-outline-primary.dropdown-toggle, header .btn-outline-primary:hover {
  width: 17rem;
  color: #67b8e8;
  font: 1.6rem "Raleway", sans-serif;
  border: 2px solid #67b8e8;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
}
@media screen and (max-width: 500px) {
  header .contact_us, header .btn-outline-primary:not(:disabled):not(.disabled).active, header .btn-outline-primary:not(:disabled):not(.disabled):active,
header .show > .btn-outline-primary.dropdown-toggle, header .btn-outline-primary:hover {
    width: 14rem;
    margin-bottom: 1rem;
  }
}
header .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
header .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
header .show > .btn-outline-primary.dropdown-toggle:focus, header .btn-outline-primary.focus, header .btn-outline-primary:focus {
  box-shadow: none;
}
header .social_flow {
  bottom: 10%;
  z-index: 1;
}
header .social_flow a {
  background-color: #4a4a4a;
  width: 1.5rem;
  height: 1.5rem;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  header .social_flow a {
    width: 2.5rem;
    height: 2.5rem;
  }
}
header .social_flow a:hover {
  background-color: #efc478;
  transform: scale(1.15);
}
header .social_flow i {
  color: white;
  font-size: 0.9rem;
}
@media screen and (min-width: 1024px) {
  header .social_flow i {
    font-size: 1.2rem;
  }
}

.success {
  background-color: #f9f9f9;
}
.success h2 {
  font: 1.8rem "Raleway", sans-serif;
  font-weight: bold;
}
.success .timeline {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.success .timeline:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #000000;
  left: 2rem;
  top: 0;
}
@media (min-width: 576px) {
  .success .timeline:before {
    left: 50%;
  }
}
.success .timeline:after {
  content: "";
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  position: absolute;
  left: 0.6rem;
  bottom: 0.4%;
}
@media (min-width: 576px) {
  .success .timeline:after {
    left: calc(50% - 22.5px);
  }
}
.success .timeline .timeline-wrapper {
  margin-bottom: 1rem;
  padding-left: 4rem;
}
@media (min-width: 576px) {
  .success .timeline .timeline-wrapper {
    margin-bottom: -3rem;
  }
}
@media (min-width: 576px) {
  .success .timeline .timeline-wrapper:nth-child(odd) {
    padding-right: 2rem;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .success .timeline .timeline-wrapper:nth-child(odd) .timeline-item:before {
    right: -2.2rem;
    left: unset;
  }
}
@media (min-width: 576px) {
  .success .timeline .timeline-wrapper:nth-child(odd) .timeline-item:after {
    left: unset;
    right: 2rem;
  }
}
@media (min-width: 576px) {
  .success .timeline .timeline-wrapper:nth-child(even) {
    padding-left: 2rem;
    margin-left: 50%;
    margin-top: -2rem;
  }
}
.success .timeline .timeline-wrapper:nth-child(3) .timeline-item h3, .success .timeline .timeline-wrapper:nth-child(4) .timeline-item h3 {
  color: #67b8e8;
}
.success .timeline .timeline-wrapper:nth-child(3) .timeline-item:after, .success .timeline .timeline-wrapper:nth-child(4) .timeline-item:after {
  background-color: #67b8e8;
}
.success .timeline .timeline-wrapper .timeline-item {
  position: relative;
  font-family: "Raleway", sans-serif;
  /* добавление контрольных точек на вертикальную линию */
  /* добавление стрелочек к элементам таймлайна */
}
.success .timeline .timeline-wrapper .timeline-item h3 {
  color: #efc478;
  font-size: 1.25rem;
  font-weight: bold;
}
.success .timeline .timeline-wrapper .timeline-item p {
  font-size: 1rem;
}
.success .timeline .timeline-wrapper .timeline-item:before {
  content: "";
  position: absolute;
  width: 4.25rem;
  height: 5px;
  background-color: #000000;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
}
.success .timeline .timeline-wrapper .timeline-item:after {
  content: "";
  position: absolute;
  width: 0.9rem;
  height: 0.9rem;
  background-color: #efc478;
  border: 3px solid black;
  border-radius: 0.4rem;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.motivation {
  background-image: url(../images/motvation.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.motivation p {
  font: 1.25rem "Open Sans", sans-serif;
  color: white;
}

.connect {
  background-color: #f9f9f9;
}
.connect .contact_us, .connect .btn-outline-primary:not(:disabled):not(.disabled).active, .connect .btn-outline-primary:not(:disabled):not(.disabled):active,
.connect .show > .btn-outline-primary.dropdown-toggle, .connect .btn-outline-primary:hover {
  width: 17rem;
  color: #67b8e8;
  font: 1.6rem "Raleway", sans-serif;
  border: 2px solid #67b8e8;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
}
@media screen and (max-width: 500px) {
  .connect .contact_us, .connect .btn-outline-primary:not(:disabled):not(.disabled).active, .connect .btn-outline-primary:not(:disabled):not(.disabled):active,
.connect .show > .btn-outline-primary.dropdown-toggle, .connect .btn-outline-primary:hover {
    width: 14rem;
    margin-bottom: 1rem;
  }
}
.connect .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.connect .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.connect .show > .btn-outline-primary.dropdown-toggle:focus, .connect .btn-outline-primary.focus, .connect .btn-outline-primary:focus {
  box-shadow: none;
}
.connect .btn, .connect .btn:hover, .connect .btn:focus {
  background-color: transparent;
}

.references h2 {
  font: 1.8rem "Raleway", sans-serif;
  font-weight: bold;
}
.references .card .card-img {
  border: 2px solid #67b8e8;
  border-radius: 12px;
}
.references .card .card-img-overlay {
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
  background-color: rgba(224, 225, 226, 0.7);
}
.references .card .card-img-overlay .hover {
  display: none;
}
.references .card .card-img-overlay:hover {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.references .card .card-img-overlay:hover .logo {
  display: none;
}
.references .card .card-img-overlay:hover .hover {
  display: block;
  text-transform: uppercase;
  font: 1rem/1.5 "Raleway", sans-serif;
  font-weight: bold;
}
.references .card .card-img-overlay:hover .hover a {
  display: block;
  font-weight: normal;
}
.references p {
  font: 1.25rem "Open Sans", sans-serif;
  color: #67b8e8;
}
.references h3 {
  font: 1.9rem "Raleway", sans-serif;
  color: #67b8e8;
  font-weight: bold;
}
.references .options .btn {
  width: 17.6rem;
  line-height: 2;
  font: 1.6rem "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.references .options .btn:first-of-type {
  background-color: #67b8e8;
}
.references .options .btn:last-of-type {
  background-color: #efc478;
}
.references .options .btn:focus {
  box-shadow: none;
}

.customers h2 {
  font: 1.8rem "Raleway", sans-serif;
  font-weight: bold;
}

.guestbook {
  background-image: url(../images/guestbook_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.guestbook h2 {
  font: 1.8rem "Raleway", sans-serif;
  font-weight: bold;
}
.guestbook .person {
  width: 9rem;
  height: 9rem;
}
.guestbook h3 {
  font: 1.6rem "Raleway", sans-serif;
  font-weight: bold;
}
.guestbook p {
  font: 1.25rem "Raleway", sans-serif;
}
@media (min-width: 576px) {
  .guestbook .carousel-control-prev {
    left: -7rem;
  }
}
@media (min-width: 576px) {
  .guestbook .carousel-control-next {
    right: -7rem;
  }
}

.society form .form-group {
  border-radius: 10px;
  border: 1px solid black;
  background-color: #eeeeee;
}
.society form .form-group:hover {
  border-color: #67b8e8;
}
.society form .form-group .form-control {
  border-radius: 10px;
  color: #67b8e8;
  padding-left: 1rem;
  background-color: #eeeeee;
}
.society form .form-group .form-control:focus {
  box-shadow: none;
}
.society form .form-group .input-group-prepend .input-group-text {
  background-color: transparent;
}
.society form .form-group .input-group-prepend .input-group-text i {
  color: #67b8e8;
}
.society form .form-check {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #eeeeee;
}
.society form .form-check span {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid black;
  background-color: #fff;
  margin-right: 0.5rem;
}
.society form .form-check [type=checkbox]:checked + span:before {
  content: "✓";
  position: absolute;
  top: -9px;
  left: 0;
  font-size: 1.5rem;
  color: #67b8e8;
}
.society form .form-check .form-check-label {
  padding-left: 1rem;
  padding-right: 3rem;
  font: 1rem/2 "Open Sans", sans-serif;
}
.society form .btn-primary {
  background-color: #67b8e8;
  width: 10rem;
  border-radius: 10px;
}
.society form .btn-primary:not(:disabled):not(.disabled).active, .society form .btn-primary:not(:disabled):not(.disabled):active,
.society form .btn-primary .show > .btn-primary.dropdown-toggle {
  background-color: #67b8e8;
  box-shadow: none;
}
.society form textarea {
  height: 11rem;
}
.society form .list-unstyled p {
  font: 1.25rem "Open Sans", sans-serif;
}

footer {
  background-color: black;
  color: white;
}
footer h4 {
  font: 1.2rem Pacifico, sans-serif;
}
footer p {
  font: 1rem "Open Sans", sans-serif;
}
footer .social-net a {
  width: 25px;
  height: 25px;
  background-color: #fff;
}
footer .social-net a:hover {
  text-decoration: none;
}
footer .social-net a i {
  color: black;
}
footer .navigation a {
  color: white;
  text-decoration: none;
  font: 1rem "Open Sans", sans-serif;
}

/*# sourceMappingURL=main.css.map */
